# Root workspace
node_modules/
.vite/
.env
.env.*
*.log

# Backend
/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/storage/*.key
/backend/storage/logs/
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/bootstrap/cache/*.php
/backend/public/build/

# Frontend
/frontend/node_modules/
/frontend/.svelte-kit/
/frontend/build/
/frontend/.vercel/
/frontend/.output/
frontend/.DS_Store
